.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-poppins), sans-serif;
}

.main {
  text-align: center;
  background: white;
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  font-family: var(--font-dmSerif);
}

.ctas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.primary,
.secondary {
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.primary {
  background-color: #747dc5;
  color: white;
}

.primary:hover {
  background-color: #3f51b5;
}

.secondary {
  background-color: white;
  color: #5c6bc0;
  border: 2px solid #5c6bc0;
}

.secondary:hover {
  background-color: #e8eaf6;
}
